.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.d_flex, #main_visual .container, #section01 .flow_content ul, #section01 .flow_content ul li .icon, #section02 .service_content .content_block, #section02 .service_content .content_block .col_feature .feature_list, #section02 .service_content .content_block .col_feature .feature_list li, #section04 .archives_list ul, #section05 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*--------------------------
main_visual
---------------------------*/
#main_visual {
  position: relative;
  margin-top: -270px;
  margin-bottom: 120px;
}
@media only screen and (max-width: 768px) {
  #main_visual {
    margin-top: -100px;
    margin-bottom: 60px;
  }
}
#main_visual .bg_skew {
  background: url(../image/common/bg_mask_01.jpg) center center/cover no-repeat;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  -webkit-transform: skewY(-6deg) translate(-50%, 0);
          transform: skewY(-6deg) translate(-50%, 0);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #main_visual .bg_skew {
    background-image: url(../image/common/bg_mv_mask_01_sp.jpg);
  }
}
#main_visual .bg_skew::before {
  width: 100%;
  height: 200%;
  background: url(../image/common/bg_squares_mask_01.png) center center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: "";
  -webkit-transform: skewY(6deg) translate(-50%, -50%);
          transform: skewY(6deg) translate(-50%, -50%);
}
#main_visual .talents_pc {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  -webkit-transform: skewY(-6deg) translate(-50%, 0);
          transform: skewY(-6deg) translate(-50%, 0);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #main_visual .talents_pc {
    display: none;
  }
}
#main_visual .talents_pc img {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -660px;
  bottom: -85%;
  -webkit-transform: skewY(6deg);
          transform: skewY(6deg);
}
#main_visual .container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  #main_visual .container {
    padding: 0;
    display: block;
  }
}
#main_visual .talents_sp {
  display: none;
}
@media only screen and (max-width: 768px) {
  #main_visual .talents_sp {
    display: block;
  }
}
#main_visual .talents_sp img {
  width: auto;
  margin: inherit;
  height: 89%;
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#main_visual .holder {
  padding: 460px 0 0;
  margin-right: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
@media only screen and (max-width: 768px) {
  #main_visual .holder {
    text-align: center;
    margin: 0;
    padding: 460px 15px 10px;
    position: relative;
  }
}
@media only screen and (max-width: 768px) {
  #main_visual .holder::before {
    background: url(../image/common/bg_mv_mask_02_sp.png) center center/cover no-repeat;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 54%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 0;
    -webkit-transform: skewY(-6deg) translate(-50%, 0);
            transform: skewY(-6deg) translate(-50%, 0);
    overflow: hidden;
    display: block;
    content: "";
  }
}
@media only screen and (max-width: 768px) {
  #main_visual .holder > * {
    position: relative;
  }
}
#main_visual .holder .logo img {
  width: 82px;
}
@media only screen and (max-width: 768px) {
  #main_visual .holder .logo img {
    width: 50px;
  }
}
#main_visual .holder .h {
  font-size: 60px;
  margin: 25px 0 15px;
}
@media only screen and (max-width: 768px) {
  #main_visual .holder .h {
    font-size: 36px;
    margin: 15px 0 10px;
  }
}
@media only screen and (max-width: 768px) {
  #main_visual .holder p {
    font-size: 13px;
    text-align: center;
  }
}
#main_visual .holder p:not(:last-of-type) {
  margin-bottom: 15px;
}
#main_visual .holder .btn_block {
  text-align: left;
  margin-top: 30px;
}
@media only screen and (max-width: 768px) {
  #main_visual .holder .btn_block {
    text-align: center;
    margin-top: 20px;
  }
}

/*--------------------------
section01
---------------------------*/
#section01 {
  padding: 60px 0 0 0;
}
@media only screen and (max-width: 768px) {
  #section01 {
    padding: 20px 0 40px 0;
  }
}
#section01 .flow_content {
  margin-top: 80px;
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content {
    margin-top: 35px;
  }
}
#section01 .flow_content ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul {
    display: block;
  }
}
#section01 .flow_content ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li {
    max-width: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#section01 .flow_content ul li .icon {
  font-size: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li .icon {
    font-size: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 26%;
            flex: 0 0 26%;
  }
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li .holder {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 72%;
            flex: 0 0 72%;
    max-width: 72%;
  }
}
#section01 .flow_content ul li .h {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 35px 0 15px;
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li .h {
    font-size: 16px;
    text-align: left;
    margin: 0 0 10px 0;
  }
}
#section01 .flow_content ul li p {
  font-size: 14px;
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li:not(:last-child) {
    margin-bottom: 60px;
  }
}
#section01 .flow_content ul li:not(:last-child)::before {
  content: "";
  border-style: solid;
  border-width: 50px 0 50px 30px;
  border-color: transparent transparent transparent #767676;
  display: block;
  position: absolute;
  top: 50%;
  right: -56px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  #section01 .flow_content ul li:not(:last-child)::before {
    border-width: 15px 30px 0 30px;
    border-color: #767676 transparent transparent transparent;
    top: auto;
    bottom: -35px;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

/*--------------------------
section02
---------------------------*/
#section02 {
  padding: 240px 0 0 0;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #section02 {
    padding: 100px 0 30px 0;
  }
}
#section02 .bg_skew {
  background: url(../image/common/bg_mask_01.jpg) center center/cover no-repeat;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  -webkit-transform: skewY(-6deg) translate(-50%, 0);
          transform: skewY(-6deg) translate(-50%, 0);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #section02 .bg_skew {
    background-image: url(../image/common/bg_mask_sp_01.jpg);
  }
}
#section02 .bg_skew::before {
  width: 100%;
  height: 150%;
  background: url(../image/common/bg_squares_mask_01.png) center center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: "";
  -webkit-transform: skewY(6deg) translate(-50%, -50%);
          transform: skewY(6deg) translate(-50%, -50%);
}
#section02 .service_content {
  margin-top: 50px;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content {
    margin-top: 25px;
  }
}
#section02 .service_content .content_block {
  counter-increment: number;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block {
    display: block;
  }
}
#section02 .service_content .content_block .col_title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_title {
    max-width: inherit;
    margin-bottom: 20px;
  }
}
#section02 .service_content .content_block .col_title .h {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_title .h {
    font-size: 20px;
  }
}
#section02 .service_content .content_block .col_title .h::before {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 4px;
  display: block;
  content: counter(number,decimal-leading-zero);
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_title .h::before {
    font-size: 28px;
  }
}
#section02 .service_content .content_block .col_feature {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature {
    max-width: inherit;
  }
}
#section02 .service_content .content_block .col_feature .feature_list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature .feature_list {
    display: block;
  }
}
#section02 .service_content .content_block .col_feature .feature_list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  max-width: 48%;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature .feature_list li {
    max-width: inherit;
    margin-bottom: 20px;
  }
}
#section02 .service_content .content_block .col_feature .feature_list li:nth-child(2n) {
  margin-right: 0;
}
#section02 .service_content .content_block .col_feature .feature_list li .icon {
  font-size: 40px;
  text-align: center;
  line-height: 120px;
  background: #ffff00;
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
  max-width: 120px;
  height: 120px;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature .feature_list li .icon {
    font-size: 30px;
    line-height: 80px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-width: 80px;
    height: 80px;
  }
}
#section02 .service_content .content_block .col_feature .feature_list li .summary {
  padding-left: 20px;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature .feature_list li .summary {
    padding-left: 15px;
  }
}
#section02 .service_content .content_block .col_feature .feature_list li .summary .h {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature .feature_list li .summary .h {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
#section02 .service_content .content_block .col_feature .feature_list li .summary p {
  font-size: 14px;
  line-height: 1.4;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block .col_feature .feature_list li .summary p {
    font-size: 13px;
  }
}
#section02 .service_content .content_block:not(:first-of-type) {
  margin-top: 40px;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block:not(:first-of-type) {
    margin-top: 10px;
  }
}
#section02 .service_content .content_block:not(:last-of-type) {
  padding-bottom: 10px;
  border-bottom: 2px solid #eaeaea;
}
@media only screen and (max-width: 768px) {
  #section02 .service_content .content_block:not(:last-of-type) {
    padding-bottom: 0;
  }
}

/*--------------------------
section03
---------------------------*/
#section03 {
  padding: 240px 0 0 0;
}
@media only screen and (max-width: 768px) {
  #section03 {
    padding: 80px 0 30px;
  }
}
#section03 .faq_content {
  margin: 60px 0;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_content {
    margin: 30px 0;
  }
}
#section03 .faq_slider {
  width: 800px;
  margin: 0 auto 60px;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_slider {
    width: 100%;
    margin-bottom: 30px;
  }
}
#section03 .faq_slider .slider_item dl {
  line-height: 1.6;
}
#section03 .faq_slider .slider_item dl dt,
#section03 .faq_slider .slider_item dl dd {
  position: relative;
  padding-left: 60px;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_slider .slider_item dl dt,
  #section03 .faq_slider .slider_item dl dd {
    padding-left: 24px;
  }
}
#section03 .faq_slider .slider_item dl dt::before,
#section03 .faq_slider .slider_item dl dd::before {
  content: "";
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: -8px;
  left: 0;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_slider .slider_item dl dt::before,
  #section03 .faq_slider .slider_item dl dd::before {
    font-size: 20px;
    top: -5px;
  }
}
#section03 .faq_slider .slider_item dl dt {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #eaeaea;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_slider .slider_item dl dt {
    font-size: 16px;
  }
}
#section03 .faq_slider .slider_item dl dt::before {
  content: "Q.";
}
#section03 .faq_slider .slider_item dl dd::before {
  content: "A.";
}
#section03 .faq_slider .slick-dots {
  margin-top: 40px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_slider .slick-dots {
    margin-top: 20px;
  }
}
#section03 .faq_slider .slick-dots li button {
  color: transparent;
  line-height: 0;
  font-size: 0;
  border: 1px solid #dadada;
  background: #fff;
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 0;
  display: block;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #section03 .faq_slider .slick-dots li button {
    width: 20px;
    height: 20px;
  }
}
#section03 .faq_slider .slick-dots li:not(:last-child) {
  margin-right: 10px;
}
#section03 .faq_slider .slick-dots li.slick-active button {
  background: #ffff00;
  border-color: #ffff00;
}
#section03 .modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}
#section03 .modal_bg .modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 1002px;
  height: 90vh;
  background: #fff;
}
@media only screen and (max-width: 1170px) {
  #section03 .modal_bg .modal_box {
    width: 90%;
  }
}
#section03 .modal_bg .modal_box .modal_close {
  position: absolute;
  top: -24px;
  right: -24px;
  display: block;
  width: 60px;
  height: 60px;
  border: solid #fff 4px;
  border-radius: 50%;
  background: #ffff00;
  -webkit-transition: all .3s;
  transition: all .3s;
}
@media only screen and (max-width: 1170px) {
  #section03 .modal_bg .modal_box .modal_close {
    top: -15px;
    right: -15px;
    width: 40px;
    height: 40px;
  }
}
#section03 .modal_bg .modal_box .modal_close span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 24px;
  height: 2px;
  background: #333;
}
@media only screen and (max-width: 1170px) {
  #section03 .modal_bg .modal_box .modal_close span {
    width: 20px;
  }
}
#section03 .modal_bg .modal_box .modal_close span:nth-child(1) {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
#section03 .modal_bg .modal_box .modal_close span:nth-child(2) {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
#section03 .modal_bg .modal_box .modal_close:hover {
  background: #cccc00;
}
#section03 .modal_bg .modal_box .modal {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1002px;
  height: 78vh;
  margin: 0;
  padding: 0 50px;
  overflow: auto;
  overflow-scrolling: touch;
}
@media only screen and (max-width: 1170px) {
  #section03 .modal_bg .modal_box .modal {
    width: auto;
    height: 82vh;
    padding: 0 15px;
  }
}
#section03 .modal_bg .modal_box .modal dl {
  line-height: 1.6;
}
@media only screen and (max-width: 768px) {
  #section03 .modal_bg .modal_box .modal dl {
    line-height: 1.5;
  }
}
#section03 .modal_bg .modal_box .modal dl:not(:last-of-type) {
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  #section03 .modal_bg .modal_box .modal dl:not(:last-of-type) {
    margin-bottom: 24px;
  }
}
#section03 .modal_bg .modal_box .modal dl dt,
#section03 .modal_bg .modal_box .modal dl dd {
  position: relative;
  padding-left: 60px;
}
@media only screen and (max-width: 768px) {
  #section03 .modal_bg .modal_box .modal dl dt,
  #section03 .modal_bg .modal_box .modal dl dd {
    padding-left: 24px;
  }
}
#section03 .modal_bg .modal_box .modal dl dt::before,
#section03 .modal_bg .modal_box .modal dl dd::before {
  content: "";
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  position: absolute;
  top: -8px;
  left: 0;
}
@media only screen and (max-width: 768px) {
  #section03 .modal_bg .modal_box .modal dl dt::before,
  #section03 .modal_bg .modal_box .modal dl dd::before {
    font-size: 20px;
    top: -5px;
  }
}
#section03 .modal_bg .modal_box .modal dl dt {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #eaeaea;
}
@media only screen and (max-width: 768px) {
  #section03 .modal_bg .modal_box .modal dl dt {
    font-size: 15px;
  }
}
#section03 .modal_bg .modal_box .modal dl dt::before {
  content: "Q.";
}
#section03 .modal_bg .modal_box .modal dl dd::before {
  content: "A.";
}

/*--------------------------
section04
---------------------------*/
#section04 {
  padding: 200px 0 60px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  #section04 {
    padding: 100px 0 50px 0;
  }
}
#section04 .bg_skew {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  -webkit-transform: skewY(-6deg) translate(-50%, 0);
          transform: skewY(-6deg) translate(-50%, 0);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #section04 .bg_skew {
    background-image: url(../image/common/bg_mask_sp_01.jpg);
  }
}
#section04 .bg_skew::before {
  width: 100%;
  height: 150%;
  background: url(../image/common/bg_squares_mask_01.png) center center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  content: "";
  -webkit-transform: skewY(6deg) translate(-50%, -50%);
          transform: skewY(6deg) translate(-50%, -50%);
}
#section04 .archives_content {
  margin: 60px 0;
}
@media only screen and (max-width: 768px) {
  #section04 .archives_content {
    margin: 30px 0;
  }
}
#section04 .archives_slider .slider_item .thumb {
  margin: 0 5px;
  display: block;
  background: #eee;
  height: 200px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  #section04 .archives_slider .slider_item .thumb {
    margin: 0;
  }
}
#section04 .archives_slider .slider_item .thumb img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#section04 .archives_slider .slider_item .titile {
  line-height: 1.4;
  margin-top: 10px;
}
#section04 .archives_slider .slick-dots {
  margin-top: 20px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#section04 .archives_slider .slick-dots li button {
  color: transparent;
  line-height: 0;
  font-size: 0;
  border: 1px solid #dadada;
  background: #fff;
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 0;
  display: block;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  #section04 .archives_slider .slick-dots li button {
    width: 20px;
    height: 20px;
  }
}
#section04 .archives_slider .slick-dots li:not(:last-child) {
  margin-right: 10px;
}
#section04 .archives_slider .slick-dots li.slick-active button {
  background: #ffff00;
  border-color: #ffff00;
}
#section04 .archives_list {
  margin: 60px 0 20px;
}
#section04 .archives_list ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#section04 .archives_list ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 282px;
          flex: 0 0 282px;
  max-width: 282px;
  margin: 0 14px 24px 0;
}
#section04 .archives_list ul li a {
  display: block;
}
#section04 .archives_list ul li a .thumb {
  background: #eee;
  height: 200px;
  position: relative;
  overflow: hidden;
}
#section04 .archives_list ul li a .thumb img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: all 0.8s linear 0s;
  transition: all 0.8s linear 0s;
}
#section04 .archives_list ul li .titile {
  line-height: 1.4;
  margin-top: 10px;
}
#section04 .archives_list ul li:hover .thumb img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#section04 .archives_list ul li:nth-child(4n) {
  margin-right: 0;
}

/*--------------------------
section05
---------------------------*/
#section05 {
  color: #fff;
  background: url(../image/creater_join/bg_sec05_01.jpg) center center/cover no-repeat;
}
#section05 .container {
  height: 540px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
@media only screen and (max-width: 768px) {
  #section05 .container {
    height: auto;
    padding: 40px 0;
  }
}
#section05 .h {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.5em;
}
@media only screen and (max-width: 768px) {
  #section05 .h {
    font-size: 34px;
    letter-spacing: 0.35em;
  }
}
#section05 p {
  font-size: 18px;
  text-align: center;
  margin: 50px 0;
}
@media only screen and (max-width: 768px) {
  #section05 p {
    font-size: 14px;
    margin: 20px 0;
  }
}
