.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.d_flex, #main_visual .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------------
main_visual
---------------------------*/
#main_visual {
  background-color: #fff;
  margin-top: 80px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1170px) {
  #main_visual {
    margin-top: 60px;
  }
}
#main_visual::before, #main_visual::after {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
#main_visual::before {
  background: url(../image/common/bg_mv_sub_mask_01.png) center center/cover no-repeat;
  z-index: 10;
}
@media only screen and (max-width: 768px) {
  #main_visual::before {
    background-image: url(../image/common/bg_mv_sub_mask_sp_01.png);
  }
}
#main_visual::after {
  background: url(../image/common/bg_squares_mask_01.png);
  z-index: 11;
}
#main_visual .container {
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 768px) {
  #main_visual .container {
    height: auto;
    min-height: 160px;
  }
}
#main_visual .h {
  text-align: center;
  padding: 15px 0;
  position: relative;
  z-index: 20;
}
#main_visual .h span {
  display: block;
}
#main_visual .h span.en {
  font-size: 40px;
  letter-spacing: 0.2em;
  margin-bottom: 16px;
}
@media only screen and (max-width: 768px) {
  #main_visual .h span.en {
    font-size: 34px;
    margin-bottom: 12px;
  }
}
#main_visual .h span.ja {
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  #main_visual .h span.ja {
    font-size: 15px;
  }
}

/*--------------------------
section01
---------------------------*/
#section01 {
  padding: 80px 0 0 0;
}
@media only screen and (max-width: 768px) {
  #section01 {
    padding: 50px 0 0 0;
  }
}
#section01 .h {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  margin: 45px 0 15px;
}
@media only screen and (max-width: 768px) {
  #section01 .h {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #section01 p {
    font-size: 14px;
  }
}
#section01 ul {
  margin-top: 20px;
  padding-left: 20px;
}
#section01 ul li {
  margin-bottom: 10px;
  list-style-type: disc;
}
